section {
    text-align: center;
}

.block {
    padding-bottom: 1em;
}

button {
    background-color: rgb(42, 138, 234);
    color: white;
    cursor: pointer;
    border: 1px solid var(--color-border);
    border-radius: 3px;
    padding: 4px 8px;
}

button:hover:not(:disabled) {
    background-color: rgb(24, 104, 184);
}

button:disabled {
    border-color: transparent;
    cursor: not-allowed;
}

canvas {
    border: 1px solid orangered;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    justify-content: center;
}

.guess-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    min-height: 200px;
    list-style-type: none;
    padding: 0;
    margin: 1em 0em;
}

.guess {
    list-style-type: none;
    min-width: 120px;
    padding: 6px 12px;
    border-radius: 3px;
}

.emoji-deglare {
    text-shadow: 0px 0px 2px black, 0px 0px 4px black;
}

.post-guess-list {
    display: flex;
    flex-direction: row;
    gap: 2px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.post-guess {
    opacity: 0%;
    animation: wiggle 0.6s forwards;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); opacity: 0%; }
    20% { transform: rotate(-15deg); opacity: 100%; }
    40% { transform: rotate(15deg); opacity: 100%; }
    60% { transform: rotate(-15deg); opacity: 100%; }
    80% { transform: rotate(15deg); opacity: 100%; }
    100% { transform: rotate(0deg); opacity: 100%; }
}

#confetti-target {
    position: relative;
    width: 0px;
    height: 0px;
}

@keyframes mover {
    0% {
        transform: translate(0px, 0px);
        opacity: 100%;
    }

    70% {
        opacity: 30%;
    }

    100% {
        transform: translate(var(--target-x), var(--target-y));
        opacity: 0%;
        display: none;
    }
}

.confetti {
    position: absolute;
    transform: translate(var(--target-x), var(--target-y));
    animation: mover 1s ease-out forwards;
}
