#menu {
    position: fixed;
    z-index: 1;
    background-color: light-dark(white, black);
    width: 100vw;
    top: 0;
    bottom: 0;
    overflow-y: scroll;

    left: -100vw;
    transition: 0.25s;
    transition-timing-function: ease-in-out;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu[data-isopen=true] {
    left: 0;
}

#close-menu-button {
    position: absolute;
    top: 4px;
    right: 4px;
    color: light-dark(black, white);
    border: none;
    background-color: transparent;
    font-size: 1em;
    cursor: pointer;
}

#menu header {
    text-align: center;
    padding-block: 4px;
    width: 100%;
}

#menu header h2 {
    font-weight: bold;
    margin-block: 0;
}

.menu-content {
    box-sizing: border-box;
    padding: 16px;
    gap: 8px;
    width: min(100vw, 400px);
}

.column-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.padding-start {
    padding-block-start: 8px;
}

#menu-trigger {
    aspect-ratio: 1;
    width: 38px;
    border: none;
    background-color: light-dark(var(--Y100), var(--Y700));
    color: var(--color-text);
    font-size: 1.3em;
    cursor: pointer;
}
